html, body {
    height: 100%;
    margin: 0;
    font-family: Arial,sans-serif;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff'),
         url('../fonts/gilroy-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* For sticky footer */
div.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main.main-content {
    flex: 1;
}

/* * IMAGES */
img {
	max-width: 100%;
	height: auto;
}

/* * Containers */
.container {
    box-sizing: border-box;
	width: 1200px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}
.wrapper {
    background-color: #262626;
}

/* * HEADER */
.main-header {
    background-color: deepskyblue;
    font-family: 'gilroy',Arial,sans-serif;
}

.main-header .container {
	display: flex;
	align-items:center;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* Header name style */
.mh-name a {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.mh-name h1{
    height: auto;
}

/* Header navigation style */
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
    padding: 0;
}
.main-nav li, .main-footer-list li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: larger;
    /* transition-property: text-decoration; */
    transition-property: color;
    transition-duration: 0.3s;
}
.main-nav a:hover {
    /* text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px; */
    color: black;
}

/* * FOOTER */
.main-footer {
    background-color: #262626;
    color: white;
}

/* .main-footer .container { 
    text-align: center;
} */

.main-footer-list {
    text-align: center;
    padding: 0;
}

.main-footer a{
    text-decoration: none;
    color: gray;
}

/* * MAIN CONTENT */
section.container {
    background-color: white;
    border-radius: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
}
.main-article h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-article .main-photo { /* Figure (article's main preview/photo) */
    /* border: 1px dotted gray; */
    margin: 20px;
    box-shadow: gray 1px 1px 5px;
    border-radius: 3em;
    vertical-align: middle;
    float: left;
    margin-right: 3em;
    max-width: 30%;
    min-width: 150px;
    border: 5px #262626aa solid;
}
.main-article .main-photo > img {
    max-width: 100%;
    height: auto;
    min-width: 150px;
    vertical-align: top;
    border-radius: 3em;
    /* border-bottom: 1px solid #262626aa; */
}
.main-article .main-photo > figcaption {
    /* border: 1px dotted blue; */
    color: #262626;
    text-align: center;
}

.main-article .art-subsection {
    display: inline;
    vertical-align: middle;
}
.main-article .art-subsection h3 {
    border-left: 5px darkred solid;
    display: inline-block;
    margin: 0;
    border-radius: 0.4em;
    padding-left: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .main-article .art-subsection:first-child { /* todo: margin-top 
    margin-top: 5em;
} */
.main-article .art-subsection .art-first-h3 {
    margin-top: 1em;
}
.main-article .art-subsection p {
    margin: 8px 0 16px;
}
.main-article .art-subsection ul {
    display: block;
    /* margin-left: 10px; */
    margin-top: 15px;
    margin-bottom: 5px;
}