hmtl, body {
    margin: 0;
    height: 100%;
    font-family: 'Nunito Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Yeseva One', Georgia, 'Times New Roman', Times, serif; */
}

/* * CONTAINERS */
.container {
    box-sizing: border-box;
	width: 1200px;
	max-width: 100%;
	padding: 16px;
	margin: 0 auto;
}

/* Buttons */
button[class^="button-"] {
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 1.8em 0;
    min-width: 19em;
    font-style: italic;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
}
button.button-golden {
    background-color: #E3B873;
    color: white;
}
button.button-transparent {
    border: 1px solid white;
    background: none;
    color: white;
    box-shadow: none;
}
button.header-button {
    padding: 1.1em 0;
    min-width: 14.5em;
}

/* Colors */
.golden {
    color: #E3B873;
}

/* * HEADER */
.main-header {
    background-color: #131313;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    text-transform: uppercase;
}

/* Header style */
.main-header a {
    text-decoration: none;
    font-size: 11px;
    line-height: 15px;
    padding: 0.5em 1.5em;
}

.mh-name a, .mh-number a {
    color: #E3B873;
}
.mh-name a {
    padding-left: 0;
}
.mh-number a {
    text-decoration: underline;
}

/* Header navigation style */
.main-nav-list {
	/* margin: 1em 0 .5em; */
	text-align: center;
    padding: 0;
}
.main-nav-list li {
	display: inline;
}
.main-nav-list a {
    color: white;
}

/* MAIN CONTENT */

h1,h2,h3,h4 {
    font-family: 'Yeseva One', Georgia, 'Times New Roman', Times, serif;
    color: #E3B873;
    font-weight: normal;
    text-transform: uppercase;
}

section.promo {
    position: relative;
    background: url(../img/bg/block1.jpg) no-repeat center center/cover;
    color: white;
}
.aligner{
    width: 36rem;
    max-width: 100%;
    margin-top: 12em;
    margin-bottom: 12em;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding-left: 2em;
}
section.promo h1 {
    color: white;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 0;
}
section.promo p {
    font-size: 22px;
    line-height: 36px;
}
.promo_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.promo_buttons .button-transparent {
    margin-left: auto;
    margin-right: auto;
}
section.promo::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    box-sizing: border-box;
}
/* Promo media */
@media screen and (max-width: 768px) {
    .aligner {
        margin: 85px 18px 35px;
        width: initial;
        max-width: initial;
        padding: 0;
    }
    section.promo h1 {
        font-size: 23px;
        line-height: 133%;
    }
    section.promo p {
        font-size: 14px;
        line-height: 136%;
        margin-bottom: 32px;
    }
    .promo_buttons .button-transparent {
        margin-right: 0;
    }
    /* .promo_buttons #span_application_button {
        visibility: hidden;
        text-indent: -9999px;
        line-height: 0;
    } */
    /* .promo_buttons #span_application_button::after {
        content: "APPLICATION";
        visibility: visible;
        text-indent: 0;
        display: inline;
        line-height: initial;
        position: absolute;
    } */
}
@media screen and (max-width: 520px) {
    .promo_buttons .button-transparent {
        margin: 0;
    }
    .promo_buttons .button-golden {
        margin-bottom: 26px;
    }
    .promo_buttons {
        flex-direction: column;
    }
}

/* Projects */
.projects {
    background-color: #131313;
    color: white;
}
.projects_tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    text-transform: uppercase;
	/* width: 1200px; */
	/* max-width: 100%; */
	padding: 16px;
    padding-right: 0;
	margin: 0 auto;
    font-family: 'Yeseva One', Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
.projects_list {
    justify-content: flex-start;
}
.projects_list .tabs_last_li {
    padding-right: 0;
}
.projects_tabs li {
    display: inline;
    padding-right: 3em;
}
.projects_tabs a{
    text-decoration: none;
    color: #FFF5;
    padding-bottom: 5px;
}
.projects_list .active.golden {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}
/* Projects tabs list - media */
@media screen and (max-width: 768px) {
    .projects_tabs {
        display: none;
    }
    .projects_2picture {
        margin-top: 30px;
    }
}

/* Projects Grid */
.projects_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

.projects_1main {
    grid-row-start: 1;
    margin-right: 2em;
}

.projects_3submain {
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.projects_4nav {
    grid-row: 3/3;
}

.projects_2picture {
    grid-row: 1/4;
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}
/* Projects photo style */
.projects_2picture img {
    width: 500px;
    /* height: 355px; */
    max-width: 100%;
    /* max-height: 100%; */
    align-self: flex-start;
}

/* Projects navigation icons */

.projects_4nav ul {
    padding: 0;
}
.projects_nav_list {
    display: flex;
    justify-content: space-between;
    width: 200px;
    max-width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}
.projects_nav_list li {
    display: inline;
}
.projects_nav_arrow, .projects_nav_dot {
    border: none;
    outline: none;
    cursor: pointer;
    /* background-size: 80px 80px; */
    display: inline-block;
    background-color: #0000;
}
.projects_nav_dots_list {
    position: relative;
    display: inline-block;
    /* top:-7px; */
    width: auto;
}
.projects_nav_arrow:only-child {
    color: white;
}
.projects_nav_dot:only-child {
    font-size: xx-small;
    height: 28px;
    color: #fff6
}
.projects_nav_dot.nav_active {
    color: white;
}

/* Projects - media */
@media screen and (max-width: 768px) {
    .projects_grid {
        display: initial;
    }
    .projects_1main {
        text-align: center;
        margin: 36px 32px;
    }
    .projects_1main h2 {
        margin-top: 20px;
        font-size: 22px;
    }
    .projects_1main p {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 36px;
    }
    .projects_2picture {
        margin-left: 0;
    }
    .projects_2picture img {
        width: 100%;
    }
    .projects_3submain {
        font-size: 11px;
        line-height: 135%;
    }
    .projects_3submain h3 {
        font-size: 14px;
    }
    .projects_nav_dots_list_ul {
        display: none;
    }

    .projects_nav_list {
        width: initial;
        margin: 0;
    }
    .projects_nav_arrow {
        width: 36px;
        height: 36px;
        padding: 0;
    }
    i#pr_nav_prev, i#pr_nav_next {
        color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        margin-top: -400px;
        margin-left: -11px;
    }
    i#pr_nav_prev {
        background-image: url(../icon/prev.png);
    }
    i#pr_nav_next {
        background-image: url(../icon/next.png);
    }
}
@media screen and (max-width: 550px) {
    i#pr_nav_prev, i#pr_nav_next {
        margin-top: -330px;
    }
}
@media screen and (max-width: 375px) {
    i#pr_nav_prev, i#pr_nav_next {
        margin-top: -290px;
    }
}